@model GroupBox.Domain.Models.User
<h1>@Model.UserName</h1>

<div>
<h2>Groups</h2>
<ul>
@foreach(var g in @Model.Groups){
    <li>
        <a href="@Url.Action("Group", "Group", g)" class="elements">
            <span>@g.Name</span>
        </a>
    </li>
}

<h2>Posts</h2>
<ul>
@foreach(var p in @Model.Posts){
    <li>@p.Content</li>
}
</div>