<!DOCTYPE html>
<html>
<head>
          <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
          <link rel="stylesheet" href="~/css/main.css" />
          @using Microsoft.AspNetCore.Http
</head>
<header>
   <nav class="navbar navbar-fixed-top navbar-light navbar-expand-sm" style="background-color: #faebd7;">
        
            <ul id="gbnav">
              <li><a>@Html.ActionLink("MyGroups", "MyGroups", "Group")</a></li>
              <li><a>@Html.ActionLink("Create a Group", "Create", "Group")</a></li>
              <li><a>@Html.ActionLink("All Groups", "AllGroups", "Group")</a></li> 
              <li><a>@Html.ActionLink("Sign Out", "Index", "Home")</a></li> 

            </ul>
        
  </nav>
</header>

<body>
  <main class="containerM">
            @RenderBody()
  </main>
</body>
  
</html>